* {
    padding: 0;
    margin: 0;
}

.registerTable {
    width: 100%;
}

header {
    width: 100%;
    height: 100px;
    background-color: burlywood;
    position: relative;
}

header img{
    height: 75px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

header img:hover {
    border: maroon 2px dashed;
}

#menu_container {
    position: absolute;
    bottom: 35px;
    left: 10px;
}

#menu_container a {
    font-size: 16pt;
    text-decoration: none;
    color: darkolivegreen;
    padding: 10px;
    margin-right: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#menu_container a:hover {
    color: maroon;
    border: maroon 2px dashed;
}